.profile {
    position: absolute;
    right: 20px;
    top: 8%;
    width: 416px;
    height: 200px;
    border-top: 1px solid white;
    background: #17182E;
    opacity: 0.98;
    box-shadow: -8px 8px 8px rgba(0, 0, 0, .6);
    z-index: 2;
    display: flex;

    &.non-active {
       display: none;
    }
    ._profile-name {
        margin-top: 10%;
        margin-left: 70px;
        font-family: Exo;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;

    }
    .btn-log-out {
        position: absolute;
        top: 127px;
        left: 190px;
        width: 100px;
        height: 35px;
        border: 1px solid white;
        background-color: #242539;
        line-height: 35px;
        text-align: center; 
        border-radius: 5px;   

        &:hover {
           cursor: pointer;
           background-color: #0b0c23;
        }
        &:active {
           background-color: #242539;
           box-shadow: inset 3px 3px 3px black;
        }
    }

    ._profile_pic {
        margin-top: 10%;
        margin-left: 5%;
        width: 100px;
        height: 120px;
        border: 1px solid white;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;

        img {
            width: 70%;
        }
    }

    .__triangle {
        position: absolute;
        left: 77%;
        top: -13px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 15px solid #17182E;

        ._first_line {
            width: 15px;
            height: 1px;
            background-color: #fff;
            transform: rotate(55deg);
            transform-origin: top left;
        }

        ._second_line {
            width: 15px;
            height: 1px;
            background-color: #fff;
            transform: rotate(125deg);
            transform-origin: top left;
        }
    }
}
