.input {
    position: relative;
    margin-top: 20px;
    // width: 212px;

    input {
        padding-left: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 97%;    
        border: none;
        background-color: #242539;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        color: #C4C4C4;

    }

    ._square_input {
        width: 4px;
        height: 4px;
        background-color: #fff;
        position: absolute;
    }

    .__first {
        top: 0;
        left: 0;
    }

    .__second {
        top: 0;
        right: 0;
    }

    .__third {
        bottom: 0;
        left: 0;
    }

    .__fourth {
        bottom: 0;
        right: 0;
    }

    ::-webkit-input-placeholder {
        /* Edge */
        font-family: Open Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-family: Open Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
    }

    ::placeholder {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        color: #C4C4C4;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }

}