.__burger {
    position: absolute;
    left: calc(50% - 31px);
    transition: all .5s linear;   
  
    :hover {
      cursor: pointer;
    }
    .__first {
      vertical-align: middle;
      position: relative;
      top: -5px;
      height: 2px;
      font-family: Exo;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
    }
    .__second {
      position: relative;
      top: 14px;
      width: 31px;
      height: 5px;
      background-color: white;
    }
    .__third {
      position: relative;
      top: -20px;
      width: 31px;
      height: 5px;
      background-color: white;
    }
  }

  .__burger._active {
    transform: rotate(360deg);
  }